{% extends 'accounts/base.html' %}
{% block pagetitle %} Login {% endblock %}
{% load static %}
{% block content %}
<!-- NOTE STARTS -->
<div class="card-sigin">
    <div class="main-signup-header">
        <!-- message -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Welcome back!</h2>
        <h5 class="fw-semibold mb-4">Enter Index Number and Password</h5>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="index_number">Index Number</label>
                <input class="form-control" id="index_number" name="index_number" placeholder="Enter Index Number"
                    type="text" value="{{index_number}}" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Enter Password" type="password"
                    required>
            </div>
            <button class="btn btn-main-primary btn-block" type="submit">Login</button>

        </form>
        <div class="main-signin-footer mt-5">
            <!-- <p><a href="">Forgot password?</a></p> -->
            <p>First time accessing platform? <a href="{% url 'accounts:sign_up' %}">Register</a></p>
        </div>
    </div>
</div>
<!-- NOTE ENDS -->
{% endblock %}