<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admission Letter</title>
</head>

<body>
    <h1>Admission Letter</h1>
    <h2>Congratulations! {{user.bio.get_fullname}} </h2>
    <h3>You have been given admission to read {{admission.applicant.program_admitted_into}} </h3>
    <h3>Your admission number is <b>{{admission.admission_number}}</b> </h3>
    <h3>Your are required to report on <b>{{admission.date_admitted}}</b> </h3>
</body>

</html>